.container {
  width: 100%;
  height: 100%;
}

.backButton {
  margin-left: -12px;
}

.representationModeSelect {
  width: 150px;
  margin: 0 16px;
}

.sliceModeSelect {
  width: 100px;
  margin-right: 16px;
}
